body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  background-color: #272a31;
}

.top-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  padding: 10px 170px 10px 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 10px 8px #d4d4d4;
}
.navbar img {
  margin-left: 15rem;
}

.navbar .nav-items {
  display: flex;
  gap: 42px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul a {
  text-decoration: none;
  color: #5c5a5a;
  margin: 0;
  font-size: 16px;
}

.navbar ul li a:hover {
  color: #ec5242;
  font-size: 18px;
  animation: 0.5s ease;
}

.navbar .nav-button {
  border-color: #ec5242;
  border-width: 7px;
  color: #ec5242;
  background-color: #fff;
  font-size: 16px;
  padding: 12px;
  margin-right: 12rem;
}

.navbar .nav-button:hover {
  color: #fff;
  background-color: #ec5242;
  font-size: 18px;
}

/* About Content */

.about-content .content-title {
  color: #ec5242;
  font-size: 40px;
  font-weight: 400;
}
.about-header-content {
  background-image: url(../img/bg/desktop-bg.png);
  background-size: cover;
  padding: 39rem 0 0;
  margin: 0 0 0 -6rem;
  height: 100%;
}
.page-logo {
  margin-left: -40%;
}

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -38rem 12rem 0 0;
}

.page-nav ul {
  display: flex;
  list-style: none;
  gap: 0.3rem;
}

.page-nav ul a {
  text-decoration: none;
  color: #5c5a5a;
}

.home-icon {
  color: #535353;
}

.bi-chevron-right {
  color: #ec5242;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-content h1 {
  font-family: "COCOGOOSE", sans-serif;
  background-image: url(../img/bg/fire-bg.jpg);
  background-size: cover;
  background-position: bottom;
  color: transparent;
  font-weight: 700;
  /* color: #ec5242; */
  text-transform: uppercase;
  font-size: 60px;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.about-content .hr-line {
  color: #ec5242;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  width: 2%;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 7.5rem;
  background-color: #fff;
  width: 90%;
  padding: 2rem;
}

.header-content .description {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  flex-wrap: wrap;
}

.about-header-content h6 {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.about-header-content .outer {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.about-header-content .header-email {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.header-email i {
  color: #5c5a5a;
}

/* \\\\\\\\Featured Section//////// */
.about-the-logo {
  background-color: #fff;
}

.atl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.atl-container .hr-line {
  color: #ec5242;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  width: 2%;
}

.atl-container .atl-header {
  font-weight: 400;
  font-style: bold;
  color: #272a31;
}
.atl-container .atl-description {
  width: 43%;
  line-height: 30px;
  text-align: center;
}

.atl-container .atl-logo-img {
  border: 0.1rem solid #d3d3d3;
  padding: 3rem;
}

/* \\\\\\\\Past Summits Section//////// */
.see-past {
  display: flex;
  justify-content: center;
}

.see-past .sp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sp-container .hr-line {
  color: #ec5242;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  width: 5%;
}

.sp-container .summit-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 3rem;
}

.summit-images .ghana {
  background-image: url(../img/summit/ghana.jpg),
    linear-gradient(rgba(248, 33, 48, 0.6), rgba(144, 60, 47, 0.9));
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  cursor: pointer;
  padding: 5rem 6rem;
  transition: 0.5s;
}
.summit-images .ghana:hover,
.summit-images .ghana:active {
  transform: scale(1.16);
  margin-right: 1rem;
}

.summit-year {
  color: #fff;
  font-weight: 800;
}

.ghana p {
  color: #fff;
  font-weight: bold;
}

.summit-images .eritrea {
  background-image: url(../img/summit/eretrea.jpg),
    linear-gradient(rgba(248, 33, 48, 0.6), rgba(144, 60, 47, 0.9));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  cursor: pointer;
  padding: 5rem 6rem;
  transition: 0.5s;
}

.summit-images .eritrea:hover,
.summit-images .eritrea:active {
  transform: scale(1.16);
  margin-left: 1rem;
}

.summit-year {
  color: #fff;
  font-weight: 800;
}

.eritrea p {
  color: #fff;
  font-weight: bold;
}

/* \\\\\\\\Footer Section//////// */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272a31;
  color: #fff;
  height: 18rem;
  overflow-y: hidden;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 70%;
}

.footer-container img {
  width: 27rem;
  height: 28rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content .f-c-h {
  font-weight: 600;
}

.none {
  display: block;
}

.nonee {
  display: none;
}
.non {
  display: none;
}
/* Mobile Version */

@media only screen and (max-width: 767px) {
  .top-menu {
    display: none;
  }

  .nonee {
    display: block;
  }
  .none {
    display: none;
  }

  .navbar img,
  .navbar .nav-button,
  .page-nav {
    display: none;
  }
  /* \\\\Side Nav Styles///// */


  /* \\\\\Header contents//// */
  .about-header-content {
    background-image: url(../img/bg/mobile-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: -80%; */
    margin-left: 10rem;
  }

  .about-content h1 {
    margin-left: -3rem;
    text-align: center;
  }

  .content-title {
    margin-top: -45rem;
    margin-left: -5.4rem;
    align-self: center;
    color: #ec5242;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }

  .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;
    margin-top: -12rem;
    width: 90%;
  }

  .outer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 7rem;
  }

  .sp-container {
    text-align: center;
  }

  .sp-description {
    display: flex;
    text-align: center;
    width: 75%;
  }

  .summit-images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 0.5rem;
  }
  
  .ghana {
    height: 15rem;
  }

  /* About Logo */
  .atl-container h3 {
    text-align: center;
  }

  .atl-logo-img {
    width: 17rem;
  }
  /* \\\\\\\\Partners Section//////// */
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #414246;
}

.partners-header .partner {
  color: #d3d3d3;
  font-weight: 400;
}

.partners-header .hr-line {
  margin-left: 25%;
  width: 38%;
}

.partners .partner-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  /* margin: 0.5rem 15rem 0.3rem 15rem; */
  margin-left: 20rem;
  margin-right: 20rem;
}

.partner-imgs .partner-img {
  height: 2.8rem;
  width: 7.5rem;
}
  .partner-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -3rem;
  }


  /* \\\\\\\\Footer Section//////// */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 10rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  margin-top: -4.5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0;
}

.footer-container img {
  margin-left: 5.5rem;
  width: 9rem;
  height: 3rem;
}

.f-c-h {
  display: flex;
  text-align: start;
  color: #272a31;
  width: 9rem;
  font-size: 14px;
  margin-top: -1rem;
}

/* Navbar Mobile */
.non {
  display: block;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.cs-africa {
  position: absolute;
  top: 5px;
  right: 25px;
  padding-top: 2px;
  font-size: 1.2rem;
  color: #0e2431;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .nav-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
  color: #ec5242;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ec5242;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .nav-items {
  padding-top: 120px;
  background-color: #e9e9ea;
  opacity: 0.95;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .nav-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .nav-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

}